body {
  font-family: "Courier New", monospace;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* margin: 0.5rem; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
}

.main-wrapper {
  display: flex;
  align-items: flex-start;
  /* gap: 15px; */
}

#main-text {
  max-height: 400px;
  padding: 2%;
  margin: 0%;
  overflow-y: auto;
  white-space: pre-wrap;
}

#big-text {
  width: 1040px;
  height: 400px;
  text-align: center;
  overflow-y: auto;
  border: 0.3px dashed black;
  /* padding: 10px; */
  margin-bottom: 70px;
  margin-top: 70px;
}


.text-box {
  width: 600px;
  height: 400px;
  font-family: "Courier New", monospace;
  background: white;
  color: black;
  border: 1px dashed black;
  padding: 10px;
  overflow-y: auto;
  padding: 5%;
  white-space: pre-wrap;
}

.preview-box {
  margin: 5% 5% 5% 0%;
  width: 250px;
  height: 15px;
  font-family: "Courier New", monospace;
  background: white;
  color: black;
  border: 1px dashed black;
  padding: 5px;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: pre-wrap;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

textarea {
  width: 600px;
  height: 50px;
  font-family: "Courier New", monospace;
  background: white;
  color: black;
  border: 1px dashed black;
  padding: 5px;
}

h1 {
  color: rgb(11, 10, 10);
  background-color: rgb(252, 251, 251);
  padding: 10px;
}

.button-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 5px;
}

/* submitted page */
.message {
  /*   display: inline-block;  */
  margin-right: 10px;
  font-size: 22px;
  /*   word-wrap: break-word;  */
  /*   margin-bottom: 0.3rem; */

  padding-bottom: 0.32rem;
}

.modal {
  position: relative;
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  background: rgba(0, 0, 0, 0.78);
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0%;
}
.modal.show {
  display: flex;
}
.modal.hide {
  display: none;
}

#start-modal.show {
  position: fixed;       
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9); 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
  z-index: 9999;           
  overflow: hidden;
}

#start-modal.hide {
  display: none;
}

#end-line {
  /* position: fixed; */
  font-size: 15px;
  text-align: center;
}

.overlay-svg.show {
  display:flex;
  position: fixed;     
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; 
  z-index: 1;
}

.overlay-svg img {
   width: 105%;
  height: 105%;
  object-fit: contain;  
  display: block;
}

.overlay-svg.hide{
  display: none;
}

#game-end-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgba(0, 0, 0, 0.68); */
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px; 
  z-index: 9999;
}

#refresh {
  font-size: 1rem;
  width: 20px;
  color: white;
  background: none;
  border: none;
  /* border: 0.2px dashed rgb(219, 216, 216); */
  padding: 5px;
  cursor: pointer;
}

#refresh img {
  width: 30px;
}

#game-end-overlay.hide {
  display: none;
}

#timer-alert-display {
  display: block;
  color: black;
  border: 1px dashed black;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

#timer-alert-display.hide {
  display:none; 
}

#image-prompt {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.78);
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-prompt.hide {
  display: none;
}

#image-prompt img {
  max-width: 200px;
  /* width: 45%; */
  margin: 1%;
  border-radius: 2px;
  /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); */
}

#archive-container {
  margin: 10px;
  text-align: center;
  overflow-x: auto;
  max-height: 100vh;
  height: auto;
  overflow-y: auto; 
}

button {
  padding: 10px;
  font-family: "Courier New", monospace;
  background: white;
  color: black;
  border: 1px dashed black;
  cursor: pointer;
  margin: 10px;
}

#start-button {
    position: relative; 
  z-index: 10;
  /* padding: 1em 2em; */
  /* font-size: 1.5rem; */
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  border: 1px dashed black;
}

button#stealth-button {
  background: pink;
  color: black;
}

#viewer-container {
  display:flex;
  /* justify-content: space-between; */
  gap: 20px;
}

.player-box {
  flex: 1;
  border: 1px dashed black;
  padding: 10px;
  min-width: 500px;
  min-height: 100px;
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #fefefe;
}

#body-view {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:flex-start;
  /* min-height: 100vh; */
  padding: 40px;
  margin: 0%;
  box-sizing: border-box;
}

/* to scroll text up
.submitted-text {
    overflow-y: auto; 
    max-height: 300px; 
    white-space: pre-wrap; 
} */
